version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: helpdesk_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: helpdesk
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: helpdesk_redis
    ports:
      - '6379:6379'
    restart: always

volumes:
  pgdata:
